<h2>1986 Burned Area Boundaries</h2>
<a target="_blank" href="https://hub.arcgis.com/datasets/usfs::1986-fire-occurrence-locations">data source</a>
<table style="width:100%">
  <tr>
    <td>
      <div id="mapId"></div>
    </td>
    <td>
      <table id='geoData'>
      </table>
    </td>
  </tr>
</table>

<script>

  // init the map object
  var fireMap = L.map('mapId').setView([33, -117], 3);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoia2F1c2hpa3MiLCJhIjoiY2tqazIwZHN0MGExdjJzczJnZHdra2JweiJ9.DwDqTWB8kTASzJkmx13zOA'
    }
  ).addTo(fireMap);

  // map marker icon
  var icon = L.icon({iconUrl: 'marker-icon.png'});

  // placing each marker on the map
  // on marker click data will update accordingly
  gon.geo_data.forEach(data => {
    let marker = L.marker(
      [data.latitude, data.longitude],
      {icon: icon}).addTo(fireMap).on('click', function(e) {
        fillTable(data);
      }
    );

    // bubble label
    let label = "<b>Fire Name : "+data.fire_name+"</b><br>Fire Type : "+ data.fire_type;
    marker.bindPopup(label).openPopup();

    fillTable(data);
  });


  // table implementation for point details
  function fillTable(data) {
    let tableRow = "";
    for (var key of Object.keys(data)) {
      tableRow += "<tr><td>"+key+"</td><td>"+data[key]+"</td></tr>";
      document.getElementById("geoData").innerHTML = tableRow;
    }
  }

</script>
